p {
  font-family: Lato;
}
.survey{
  margin:25px;

}

.container{
  background:#c6c0c0;
  border:solid;
  border-color:#424e95;
  width:50%;
  display:table;
  border-radius:25px;
  
  margin:auto;
  padding: 10px;
  
  

}
#time{
  background:white;
  border:solid;
  font-size:25px;
  border-radius:10px;
  border-color:#424e95;
  padding:5px;
  
}

#stopTimer{
 background-color: red; /* Green */
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:50%;
  height:100px;
}
 #startTimer{
 background-color:  #4CAF50; /* Green */
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
   height:100px;
}

#resetTimer{
 background-color: yellow; /* Green */
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  height:100px;
}