
<div id="appHeader">
	<p>Berg Balance Test</p>
</div>
<div id="survey">
  <surveyjs-component></surveyjs-component>
  <br>
<div id="appFooter">
	<p>Copyright 2020 Drexel University</p>
</div>

  </div>
 <div class="container">
   <p id="labelTimer">Stopwatch</p>
        
        <button id="startTimer" (click)='start()'>Start</button>
        <button id="stopTimer" (click)='stop()'>Stop</button>
        <button id="resetTimer" (click)='reset()'>Reset</button>
        <span id="time">{{minutes}}m {{seconds}}s</span>
      </div>

   
   
   
